.App {
  text-align: center;
  width: 200px;
  position: relative;
  display: flex;

}

input {
  width: 200px;
}

.popup {
  position: absolute;
  background: #eee;
  padding: 0;
  top: 23px;
}

.popup ul {
  margin: 0;
  padding: 5px;
  width: 200px;
  text-align: left;
}